html, body {
  height: 100%;
}
footer {
  height: 60px;
  position: sticky;
  top: 100vh;
}

.matsuri-style {
  background-color: #282834;
  /*鉄紺*/
  color: #d7d7cb;
}

.main-visual {
  width: 80%;
  height: 400px;
  background-image: url('main_v.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.link-btn {
  position: absolute;
  bottom: 30px;
}

.second-visual {
  width: 70%;
  height: 400px;
  background-image: url('second_v.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
}

.about {
  margin: 70px auto;
}

.index-label{
  margin-top: 50px;
  padding-bottom: 10px;
}

.comment-box{
  padding-right: 0px;
  padding-left: 0px;
}

.top-line{
  border-top: 0.1rem solid #808078;
}

.gothic-bold {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-style: normal;
}

