<% post_events.each do |post_event| %>
<div class="row w-100 mt-3 border">
  <div class="col-md-5 col-sm-12 text-center my-3">
    <%= link_to(post_event_path(post_event.id), class: "matsuri-style") do %>
      <strong><i class="fa-regular fa-flag"></i><span> <%= post_event.title %></span></strong>
    <% end %>
  </div>
  <div class="col-md-2 col-sm-6 my-3">
    <%= post_event.event_date %>
  </div>
  <div class="col-md-5 col-sm-6 my-3">
    <%= post_event.address %>
  </div>
</div>
<% end %>