<% users.each do |user| %>
<div class="row w-100 mt-3 border">
  <div class="col-md-4 col-sm-12 text-center my-3">
    <%= link_to(user_path(user.id), class: "matsuri-style") do %>
      <strong><i class="fa-regular fa-user"></i><span> <%= user.name %></span></strong>
    <% end %>
  </div>
  <div class="col-md-8 col-sm-12 my-3">
    <%= user.introduction %>
  </div>
</div>
<% end %>
